body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto;
}

form div img{
    height: 150px;
    width: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

div h1 {
    text-align: center;
}

div h5{
    text-align: center;
    color: rgb(153, 153, 153);
}
div select{
    block-size: 50px;
    inline-size: 300px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    border-color: black;
    margin-bottom: 5px;
    margin-top: 5px;
}

div fieldset{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
}

div fieldset input{
    width: 100%;
    color: white;
    background-color: black;
    border-color: black;
}

div a{
    font-size: 15px;
    font-family: cursive;
    margin-left: 200px;
    text-decoration: none;
}