body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .container {
    display: flex;
    gap: 10px;
    column-gap: 30px;
    flex-wrap: wrap;
    width: 400px;
  }
  .box {
    background-color: #999;
    width: 400px;
    height: 100px;
  }