*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 70%;
    margin: auto;
}

.container header{
    background-color: chocolate;
    text-align: center;
    color: black;
}
.textFon{
    display: inline;
    margin-top: 5px;
    font-family: cursive;
    font-size: 25px;
}