body {
    height: 90vh;
    color: rgb(231, 91, 91);
  }
  .styleBody{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    gap: 10px;
    column-gap: 30px;
    flex-wrap: wrap;
    width: 400px;
  }
  .box {
    background-color: #999;
    width: 400px;
    height: 100px;
  }
  .inner-box {
    background-color: #999;
    width: 30%;
    height: 300px;
  }
  .inner-box:last-child {
    width: 70%;
  }
  .inner-row {
    max-width: 400px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
  }